* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

#body {
    display: flex;
    flex-direction: column;
    margin: 0px 60px 0px 60px;
    /* background-color: #e7e8f1a8; */
    /* background-color: bisque; */
    font-family: 'Maven Pro', sans-serif;
}

li {
    list-style: none;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px 10px 20px 10px;
}

.header1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.header2 {
    margin-left: auto;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 0px 0px 0px 5px;
    font-weight: 545;
}

.header2 a {
    border: 1.49px solid black;
    padding: 15px 35px;
    border-radius: 2px;
    /* font-size: 14px; */
}

.header3 a {
    border: 1.49px solid #ffbf00;
    padding: 15px 35px;
    border-radius: 2px;
    /* font-size: 14px; */
    background-color: #ffbf00;
}

#bac_img {
    background-image: url("./img/img\ copy.jpg");
    height: 100%;
    width: 91%;
    background-color: antiquewhite;
    background-position: 0% 20%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0px 0px 120px;
    background-repeat: no-repeat;
    /* align-items: center; */
}

.bacimg1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 0px 0px 0px;
    color: white;
    line-height: 100px;
}

#text1 {
    font-size: 50px;
    line-height: 50px;
    /* padding: 0px 10px 0px 0px; */
}

#text2 {
    font-size: 20px;
    line-height: 25px;
    padding: 20px 0px 0px 0px;
}

#text3 a {
    border: 1.49px solid #ffbf00;
    padding: 20px 50px 20px 50px;
    border-radius: 2px;
    font-size: 16px;
    background-color: #ffbf00;
    text-decoration: none;
    color: black;
    font-weight: 500;
    /* padding: 15px 10px 15px 10px; */
}

.bacimg2 {
    display: flex;
    flex-direction: row-reverse;
    color: black;
}

.bac-right {
    display: flex;
    flex-direction: row;
    background-color: #ffbf00;
    padding: 30px 80px 30px 80px;
}

#num-36 {
    font-size: 70px;
    font-weight: bold;
}

#dri-ned {
    font-size: 15px;
    padding: 15px 0px 0px 5px;
    line-height: 23px;
    font-weight: bold;
}

#secmain_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 100px 0px;
    background-color: #f1eae94a;
}

#sec_header_text {
    font-size: 35px;
    font-weight: bold;
}

#sec_cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 0px 100px 0px;
}

.sec_cont {
    display: flex;
    width: 30%;
    padding: 60px 0px 0px 0px;
}

.shortDesc {
    display: flex;
    flex-direction: column;
    padding: 6px 0px 0 21px;
}

.shortDesc h3 {
    margin-bottom: 13px;
    font-size: 21px;
    line-height: 32px;
}

.sec_cont span {
    display: flex;
    line-height: 25px;
    /* padding: 0px 20px 0px 0px; */
}

.sec_cont span img {
    padding: 0px 20px 0px 0px;
}

#sec_but a {
    border: 1.49px solid #ffbf00;
    padding: 20px 50px 20px 50px;
    border-radius: 2px;
    font-size: 16px;
    background-color: #ffbf00;
    text-decoration: none;
    color: black;
    font-weight: 500;
    /* padding: 15px 10px 15px 10px; */
}

#third_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f1eae94a;
    position: relative;
}

.third-req {
    font-size: 35px;
    font-weight: 300;
    padding: 0px 0px 25px 0px;
}

#third_but {
    margin: 35px 0px 0px 0px;
}

#third_but a {
    border: 1.49px solid #ffbf00;
    padding: 20px 60px 20px 60px;
    border-radius: 2px;
    font-size: 16px;
    background-color: #ffbf00;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#third_mark {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.third_cont {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third_cont2 {
    width: 100%;
    height: 100%;
}

.third_cont2 img {
    position: relative;
    top: 50px;
}

.third_mark {
    font-size: 18px;
}

#third_mark .third_mark:before {
    content: '✓';
    color: #ffbf00;
    padding: 0px 20px 0px 0px;
    font-size: 20px;
}

#fourth_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px 100px 0px;
    /* line-height: 100px; */
    background-image: url("./img/waves.svg");
    background-repeat: no-repeat;
    background-position: 100% 5%;
    background-size: 25%;
    background-color: black;
    color: white;
}

.fourth_cont1 {
    line-height: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 0px 30px 0px;
}

.fourth_cont2 {
    line-height: 10px;
    font-size: 19px;
    padding: 20px 0px 0px 0px;
}

.fourth_but a {
    border: 1.49px solid #ffbf00;
    padding: 20px 50px 20px 50px;
    border-radius: 2px;
    font-size: 16px;
    background-color: #ffbf00;
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 100px;
}

#fifth_cont {
    display: flex;
    flex-direction: row;
    background-color: #ffbf00;
    justify-content: space-evenly;
    align-items: center;
    height: 455px;
}

.fifth_cont #img {
    position: relative;
    bottom: 40px;
    display: flex;
}

#how_works {
    display: flex;
    flex-direction: column;
    width: 60%;
    line-height: 40px;
}

.how_works1 {
    font-size: 20px;
    padding: 0px 0px 25px 0px;
}

.how_works1 h3 {
    font-family: Helvetica;
    font-size: 32px;
    color: #000000;
    line-height: 48px;
    font-weight: 300;
}

.how_works2 {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    /* padding: 10px 0px 0px 40px; */
}

.num {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 12px;
    margin: 0 11px 12px 0;
}

.num_cont {
    font-size: 17px;
    line-height: 32px;
    font-weight: 100;
}

#sixth_container {
    background-image: url("./img/testimonials-bg.jpg");
    display: flex;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: black;
    padding: 70px 0px 0px 0px;
}

#sixth_cont {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
}

.sixth_cont1 {
    font-size: 27px;
    padding: 0px 0px 30px 0px;
    font-weight: 540;
}

.sixth_cont2 {
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    font-weight: 100;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 30px 0px;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.carousel-slide img {
    border-radius: 100%;
}

#firstclone {
    width: 10%;
}

.carouseltext {
    padding: 20px 0px 0px 0px;
}

.sixth_cont4 a {
    border: 1.49px solid #ffbf00;
    padding: 20px 50px 20px 50px;
    border-radius: 2px;
    font-size: 16px;
    background-color: #ffbf00;
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 100px;
}

#last_cont {
    display: flex;
    flex-direction: column;
    padding: 100px 0px 0px 0px;
    width: 100%;
    align-items: center;
    background-color: #f1eae94a;
}

.last_cont1 {
    font-size: 35px;
    font-weight: bold;
    padding: 0px 0px 40px 0px;
}

.last_cont2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* text-align: left; */
}

#sub_cont {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 48%;
    padding: 10px 0px 10px 0px;
    justify-content: space-evenly;
}

#sub_cont:hover {
    width: 100%;
    cursor: pointer;
}

.arr {
    width: 10%;
    /* padding: 10px 100px 0px 0px; */
}

.arrd {
    display: none;
}

.sub_cont {
    display: none;
    flex-direction: row;
    width: 100%;
    padding: 0px 40px 0px 0px;
    font-size: 14px;
    transition-delay: 1ms;
    color: black;
    visibility: hidden;
    opacity: 0;
    /* transition: visibility 0s, opacity 0.5s linear; */
}

#sub_cont:hover .sub_cont {
    display: flex;
    color: black;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    /* transition: visibility 0s, opacity 0.5s linear; */
}

.sub_conts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: o.3px solid black;
}

.sub_conts:hover {
    color: #ffbf00;
    transition: 0.4s;
}

#sub_cont li {
    padding: 5px 0px 5px 0px;
}

.subcont_text {
    font-size: 17px;
    font-weight: bold;
}

.last_cont3 {
    text-align: center;
    padding: 55px 0px 55px 0px;
    line-height: 30px;
}

.last_cont3 span {
    border-bottom: 2px solid #ffbf00;
    padding: 0px 0px 5px 0px;
}

#footer_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    color: white;
    /* background-color: #8e8d8d0d; */
    background-color: black;
}

#footer_cont li {
    padding: 0px 5px 0px 0px;
    font-size: 18px;
}

#footer_cont a {
    text-decoration: none;
    border: 1.49px solid black;
    /* box-shadow: 5px; */
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    /* width: 100%; */
    background-color: #ffbf00;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

#footer {
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    justify-content: space-between;
}

#footlog {
    display: flex;
}

.footer2 {
    margin-left: auto;
}

.footer {
    padding: 0px 10px 0px 0px;
}

.footer a {
    text-decoration: none;
    color: black;
}


/*==========================1000px============== */

@media only screen and (max-width:1085px) {
    #fifth_cont {
        display: flex;
        flex-direction: row;
        background-color: #ffbf00;
        justify-content: space-evenly;
        align-items: center;
        height: 329px;
    }
    .fifth_cont #img {
        position: relative;
        bottom: 37px;
        display: flex;
    }
    .fifth_cont #img img {
        width: 100%;
    }
    #how_works {
        display: flex;
        flex-direction: column;
        width: 60%;
        line-height: 40px;
    }
    .how_works1 {
        font-size: 20px;
        padding: 0px 0px 25px 0px;
    }
    .how_works1 h3 {
        font-family: Helvetica;
        font-size: 32px;
        color: #000000;
        line-height: 48px;
        font-weight: 300;
    }
    .how_works2 {
        font-size: 10px;
        display: flex;
        flex-direction: row;
        /* padding: 10px 0px 0px 40px; */
    }
    .num {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: black;
        color: white;
        font-size: 12px;
        margin: 0 11px 12px 0;
    }
    .num_cont {
        font-size: 17px;
        line-height: 32px;
        font-weight: 100;
    }
}

@media only screen and (max-width:800px) {
    #body {
        display: flex;
        flex-direction: column;
        margin: 0px 36px 0px 35px;
        /* background-color: #e7e8f1a8; */
        /* background-color: bisque; */
        font-family: 'Maven Pro', sans-serif;
    }
    #bac_img {
        background-image: url(./img/img\ copy.jpg);
        height: 100%;
        width: 96%;
        background-color: antiquewhite;
        background-position: 30% 90%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 80px 0px 0px 28px;
        background-repeat: no-repeat;
    }
    .bac-right {
        padding: 30px 34px 30px 39px;
    }
    .sec_cont {
        width: 30%;
    }
    .shortDesc {
        padding: 6px 0px 0 10px;
    }
    #third_cont {
        padding: 0px 0px 0px 20px;
    }
    .third-req {
        font-size: 32px;
        text-align: center;
    }
    #third_mark {
        line-height: 25px;
    }
    #third_mark .third_mark:before {
        content: '✓';
        color: #ffbf00;
        padding: 0px 10px 0px 0px;
        font-size: 20px;
    }
    .third_cont2 img {
        width: 100%;
    }
    #fifth_cont {
        height: 319px;
    }
    .fifth_cont #img {
        bottom: 12px;
    }
    .how_works1 h3 {
        line-height: 5px;
    }
    .num_cont {
        line-height: 30px;
    }
    #firstclone {
        width: 17%;
        height: 215%;
    }
    .last_cont2 {
        width: 95%;
        /* text-align: left; */
    }
}


/* 400px */

@media only screen and (max-width:400px) {
    #body {
        margin: 0px 0px 0px 0px;
    }
    .header3 {
        display: none;
    }
    #bac_img {
        background-image: url(./img/img\ copy.jpg);
        height: 100%;
        width: 100%;
        background-color: antiquewhite;
        background-position: 50% 90%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        background-repeat: no-repeat;
    }
    .bacimg1 {
        padding: 100px 0px 0px 15px;
        width: 95%
    }
    .bac-right {
        padding: 5px 55px 5px 49px;
    }
    #text1 {
        font-size: 50px;
        line-height: 50px;
        /* padding: 0px 10px 0px 0px; */
        width: 67%;
    }
    #text2 {
        font-size: 15px;
        line-height: 22px;
    }
    #text3 a {
        padding: 20px 10px 20px 10px;
    }
    #secmain_cont {
        padding: 45px 0px 100px 0px;
    }
    #sec_header_text {
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        width: 51%;
        line-height: 30px;
    }
    .sec_cont {
        display: flex;
        width: 49%;
        padding: 35px 0px 0px 0px;
        flex-direction: column;
        text-align: center;
    }
    .sec_cont img {
        width: 23%;
    }
    #third_cont {
        padding: 0px 0px 0px 0px;
        flex-direction: column;
    }
    .third_mark {
        font-size: 17px;
        line-height: 30px;
    }
    #third_but {
        text-align: center;
    }
    .third_cont2 img {
        width: 90%;
        height: 280px;
    }
    #fourth_cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 0px 30px 0px;
        /* line-height: 100px; */
        background-image: url(./img/waves.svg);
        background-repeat: no-repeat;
        background-position: 100% 5%;
        background-size: 25%;
        background-color: black;
        color: white;
        text-align: center;
    }
    .fourth_cont1 {
        line-height: 0px;
        font-size: 20px;
        font-weight: bold;
        padding: 0px 0px 30px 0px;
    }
    .fourth_cont2 {
        line-height: 10px;
        font-size: 13px;
        padding: 10px 10px 0px 10px;
    }
    #fifth_cont {
        display: flex;
        flex-direction: column-reverse;
        background-color: #ffbf00;
        /* justify-content: space-evenly; */
        align-items: center;
        height: 630px;
    }
    #how_works {
        display: flex;
        flex-direction: column;
        width: 90%;
        line-height: 40px;
        padding: 80px 0px 30px 0px;
    }
    #sixth_container {
        background-image: url(./img/testimonials-bg.jpg);
        display: flex;
        height: 550px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        color: black;
        padding: 60px 0px 50px 0px;
    }
    #last_cont {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 0px 0px;
        width: 100%;
        align-items: center;
        background-color: #e7e8f1a8;
    }
    .last_cont1 {
        font-size: 25px;
        font-weight: bold;
        padding: 0px 0px 40px 0px;
        text-align: center;
    }
    .last_cont2 {
        display: flex;
        flex-direction: column;
        width: 95%;
        /* text-align: left; */
    }
    #sub_cont {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1.4px solid #00000030;
        border-bottom: 1px solid #00000030;
        /* justify-content: space-around; */
        padding: 10px 0px 15px 0px;
        width: 100%;
    }
    .subconthov {
        display: none;
        padding: 10px 25px 0px 25px;
    }
    .arr {
        width: 10%;
    }
    .sub_cont {
        width: 100%;
        padding: 20px 0px 0px 0px;
    }
    #sub_cont:hover .subconthov {
        display: flex;
    }
    #sub_cont li {
        padding: 5px 0px 5px 0px;
    }
    .arrd {
        display: none;
    }
    #sub_cont:hover .arrd {
        display: flex;
    }
    #sub_cont:hover .arrri {
        display: none;
    }
    .last_cont3 {
        text-align: center;
        padding: 55px 0px 55px 0px;
        line-height: 30px;
    }
    #footer_cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0px 20px 0px;
        color: white;
        /* background-color: #8e8d8d0d; */
        background-color: #000000;
        line-height: 40px;
        align-items: center;
    }
    #footer_cont li {
        padding: 0px 5px 0px 0px;
        font-size: 25px;
    }
    #footer_cont a {
        text-decoration: none;
        border: 1.49px solid black;
        /* box-shadow: 5px; */
        padding: 12px 20px 12px 20px;
        border-radius: 5px;
        /* width: 100%; */
        background-color: #ffbf00;
        font-size: 15px;
        font-weight: bold;
        color: black;
    }
    #footer {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0px 20px 0px;
        justify-content: space-between;
        align-items: center;
    }
    .footer2 {
        margin-left: 0;
    }
    .footer {
        padding: 0px 10px 10px 0px;
    }
    .footer a {
        text-decoration: none;
        color: black;
    }
}