* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

#body {
    display: flex;
    flex-direction: column;
    margin: 0px 60px 0px 60px;
    /* background-color: #e7e8f1a8; */
    /* background-color: bisque; */
    font-family: 'Maven Pro', sans-serif;
}

li {
    list-style: none;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px 10px 20px 10px;
}

.header1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.header2 {
    margin-left: auto;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 5px;
}

.header2 a {
    border: 1.49px solid black;
    padding: 10px 25px;
    border-radius: 2px;
    font-size: 14px;
}

.header3 a {
    border: 1.49px solid #ffbf00;
    padding: 10px 25px;
    border-radius: 2px;
    font-size: 14px;
    background-color: #ffbf00;
}

#bac_img {
    background-image: url("./img/img\ copy.jpg");
    height: 100%;
    width: 91%;
    background-color: antiquewhite;
    background-position: 0% 20%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0px 0px 120px;
    background-repeat: no-repeat;
    /* align-items: center; */
}

.bacimg1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 0px 0px 0px;
    color: white;
    line-height: 100px;
}

#text1 {
    font-size: 50px;
    line-height: 50px;
    /* padding: 0px 10px 0px 0px; */
}

#text2 {
    font-size: 20px;
    line-height: 25px;
    padding: 20px 0px 0px 0px;
}

#text3 a {
    border: 1.49px solid #ffbf00;
    padding: 20px 50px 20px 50px;
    border-radius: 2px;
    font-size: 16px;
    background-color: #ffbf00;
    text-decoration: none;
    color: black;
    font-weight: 500;
    /* padding: 15px 10px 15px 10px; */
}

.bacimg2 {
    display: flex;
    flex-direction: row-reverse;
    color: black;
}

.bac-right {
    display: flex;
    flex-direction: row;
    background-color: #ffbf00;
    padding: 30px 80px 30px 80px;
}

#num-36 {
    font-size: 70px;
    font-weight: bold;
}

#dri-ned {
    font-size: 15px;
    padding: 15px 0px 0px 5px;
    line-height: 23px;
    font-weight: bold;
}